<!doctype html>
<html class="nojs" lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
    </head>
    <body>
        <header>
            <img src="http://placehold.it/200x80" alt="Logo">
            {{>nav}}
        </header>

        <div class="wrapper">
            {{{body}}}
        </div>

        <footer>Footer</footer>
    </body>
</html>