/* =================
   Base Variables
   ================= */

/* Typography */
$font-reg: "Open Sans", Arial, Helvetica, sans-serif;
$font-bold: "Open Sans Bold", Arial, Helvetica, sans-serif;

/* Colours */
$color-brand-primary: #000;
$color-brand-secondary: #333;

/* Breakpoints */
$screen-lrg: 960px;
$screen-md: 780px;
$screen-sm: 640px;
$screen-xs: 400px;



/* =================
   Base
   ================= */
@import '_mixins';
@import '_reset';

html { font-size: 62.5%; box-sizing: border-box; *behavior: url(/css/boxsizing.htc); }
*, 
*:before, 
*:after { box-sizing: inherit; }

body { font-family: $font-reg; font-size: 100%; line-height: 1.4; color: $color-brand-primary; }

.wrapper { width: 100%; max-width: 960px; margin: 0 auto; @include clearfix; }
@media screen and (min-width: $screen-lrg) {
    .wrapper { padding: 0 10px; }
}



/* =================
   Typography
   ================= */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $font-bold; color: $color-brand-primary; margin: 0 0 .45em; font-weight: normal; }
h1, .h1 { @include font-size(32px); }
h2, .h2 { @include font-size(28px); }
h3, .h3 { @include font-size(22px); }
h4, .h4 { @include font-size(18px); }
h5, .h5,
h6, .h6 { @include font-size(16px); font-weight: bold; }

p { margin: 0 0 1em; }
p.intro { @include font-size(18px); }

/* Anchors */
a { color: $color-brand-secondary; }
a:hover,
a:focus { color: $color-brand-primary; text-decoration: none; }



/* =================
   Elements
   ================= */

hr { margin: 3em 0; border: 0; height: 1px; background: #CCC; }

/* Table styles */
table { margin: 0 0 15px; }
td, th { padding: 5px; text-align: left; }




/* =================
   Form Styles
   ================= */

.row { margin: 0 0 15px; @include clearfix; }
label { display: block; margin: 0 0 4px; }
.inlineLabel { display: inline-block; margin: 0 0 0 5px; vertical-align: middle; }
.text, 
select, 
textarea { width: 100%; border: 1px solid #CCC; padding: 8px; }
textarea { height: 150px; }
.text:focus, 
select:focus, 
textarea:focus { border-color: #999; }

/* Button Styles */
.btn { display: inline-block; padding: 8px 15px; border: 0; border-radius: 2px; background: $color-brand-primary; color: #FFF; line-height: 1.4; text-decoration: none; }
.btn:hover,
.btn:focus { background: $color-brand-secondary; color: #FFF; }




/* =================
   Helper Classes
   ================= */

@import '_helpers';